<div class="Profile" *ngFor="let useri of users | async">
  <div *ngIf="useri.id == usercurrentId">
    <h1>Welcome {{ useri.username }}</h1>
  </div>
</div>

<h3>Choose someone to chat with!</h3>

<div class="container-center">
  <div class="container-flex">
    <div class="mb-2" *ngFor="let user of users | async; index as userId">
        <span><img [src]="user.avatar" class="e-avatar"></span>
        <b><a class="style-a" [title]="user.username" [routerLink]="['/messagewindow', usercurrentId, userId+1]">
          {{ user.username }}
        </a></b>
    </div>
  </div>
</div>
